[submodule "fbooking-service"]
	path = fbooking-service
	url = git@github.com:khoaDLuu/fbooking-service.git
[submodule "fbk-api-gateway"]
	path = fbk-api-gateway
	url = git@github.com:khoaDLuu/fbk-api-gateway.git
[submodule "fbk-config-server"]
	path = fbk-config-server
	url = git@github.com:khoaDLuu/fbk-config-server.git
[submodule "fbk-service-discoverer"]
	path = fbk-service-discoverer
	url = git@github.com:khoaDLuu/fbk-service-discoverer.git
[submodule "management-site"]
	path = management-site
	url = git@github.com:HienM7/Movie-management.git
[submodule "admin-site"]
	path = admin-site
	url = git@github.com:HienM7/movie-admin.git
[submodule "user-webapp"]
	path = user-webapp
	url = git@github.com:DucManh13/movie-web.git
[submodule "auth-user-mailing"]
	path = auth-user-mailing
	url = git@github.com:PC271199/myplsapp.git
